.share {
    max-width: 1142px;
    padding: 50px 15px;
    margin: 0 auto;
    background-color: var(--color-white);
}

.share__container {
    padding: 34px 73px;
    box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 61px;
    background-color: var(--color-white);
}

.share__left {
    flex-basis: 33%;
}

.share__sub-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-active);
}

.share__section-title {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
}

.share__right {
    flex-basis: 60%;
}

.share__top {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 8px;
}

.share__input-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.share__label {
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: var(--color-dark-font);
}

.share__input {
    max-width: 280px;
    flex-basis: 45%;
    border: none;
    padding: 12px 16px;
    background-color: #F3F5F4;
    color: var(--color-dark-font);
}

.share__input::placeholder {
    color: #666666;
    transition: color 0.3s ease-in-out;
}

.share__input:focus {
    outline: 1px solid var(--color-active);
}

.share__input:focus::placeholder {
    color: var(--color-dark-font);
}

.share__input:hover {
    outline: none;
}

.share__input:hover::placeholder {
    color: var(--color-dark-font)
}

.share__input:active::placeholder {
    color: var(--color-dark-font);
}

.share__input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
}

.share__btn {
    flex-shrink: 0;
    padding: 8px 15px;
    max-width: 253px;
}

.share__btn-text {
    position: relative;
    z-index: 1;
}

.share__desc {
    max-width: 549px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font)
}

.share__desc_underline {
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.share__desc_underline:focus {
    outline: none;
    color: var(--color-active);
}

.share__desc_underline:hover {
    outline: none;
    color: var(--color-active);
}

.share__desc_underline:active {
    color: var(--color-active);
}

@media (max-width: 1200px) {
    .share__container {
        padding: 34px 45px;
        gap: 40px;
    }

    .share__left {
        flex-basis: 40%;
    }

    .share__right {
        flex-basis: 55%;
    }
}

@media (max-width: 992px) {
    .share__container {
        justify-content: center;
        gap: 20px;
    }

    .share__top {
        min-width: 613px;
    }
    
    .share__left {
        flex-basis: auto;
    }

    .share__right {
        flex-basis: auto;
    }
}

@media (max-width: 768px) {
    .share__container {
        justify-content: flex-start;
    }

    .share__top {
        min-width: auto;
        flex-wrap: wrap;
    }
}


@media (max-width: 481px) {
    .share {
        padding-top: 30px;
    }

    .share__container {
        padding: 20px;
        gap: 30px;
    }

    .share__top {
        margin-bottom: 10px;
    }

    .share__section-title {
        font-size: 20px;
    }
}