.content-afisha {
    padding-top: 20px;
    padding-bottom: 50px;
}

.content-afisha__container {
    max-width: 1142px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-afisha__buttons {
    display: flex;
    margin-bottom: 40px;
}

.content-afisha__btn {
    position: relative;
    border: 1px solid var(--color-dark-font);
    max-width: 193px;
    padding: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-white);
    overflow: hidden;
}

.content-afisha__text {
    z-index: 1;
    position: relative;
    color: var(--color-dark-font);
    transition: color .3s ease-in-out;
}

.content-afisha__btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--gradient-color-blue);
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.content-afisha__btn:focus {
    outline: none;
    background: var(--gradient-color-blue);
}

.content-afisha__btn:focus .content-afisha__text {
    color: var(--color-white);
}

.content-afisha__btn:hover::after {
    transform: translateX(0);
}


.content-afisha__btn:hover .content-afisha__text {
    color: var(--color-white);
}

.content-afisha__btn:active {
    background: var(--gradient-color-blue);
}

.content-afisha__btn-active {
    background: var(--gradient-color-blue);
}

.content-afisha__btn-active .content-afisha__text {
    color: var(--color-white);
}

@media (max-width: 481px) {
    .content-afisha {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .content-afisha__btn {
        max-width: 147px;
        padding: 10px 5px;
        
    }

    .content-afisha__text {
        font-size: 14px;
    }

    .content-afisha__buttons {
        margin-bottom: 30px;
    }
}