.nav-afisha {
    align-content: flex-start;
    padding-right: 53px;
}

@media (max-width: 992px) {
    .nav-afisha {
        display: none;
    }
}

@media (max-width: 480px) {
    .footer .nav-afisha {
        display: flex;
        margin-bottom: 20px;
    }

    .footer .nav__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}