.hero {
    padding-bottom: 80px;
}

.hero__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: end;
    background-size: cover;
    background-image: url('images/hero-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 230px 20px 20px 20px;
}

.hero_title {
    margin: 0;
    padding: 0;
    margin-bottom: 155px;
    text-align: center;
    font-size: 51px;
    line-height: 135%;
    color: #fff;
}

.hero_address {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.hero__date {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

@media (max-width: 1200px) {
    .hero__container {
        grid-template-columns: 1fr 4fr 1fr
    }
}

@media (max-width: 992px) {
    .hero__container {
        grid-template-columns: 1fr 8fr 1fr
    }
}

@media (max-width: 776px) {
    .hero_title {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .hero__container {
        grid-template-columns: 1fr 16fr 1fr
    }
}