.about__cards {
    --cards-count: 3;
    display: flex;
    align-items: center;
}

.about__cards-item {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--cards-count) * 4px / var(--cards-count));
    padding: 20px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.about__cards-item:not(:last-child) {
    margin-right: 4px;
}

.about__cards-title-part1, .about__cards-title-part2 {
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.about__cards-title-part2 {
    margin-bottom: 30px;
}

.about__cards-number {
    align-self: flex-end;
    font-size: 96px;
    line-height: 100%;
    color: #4b58a1;
    transition: color 0.3s ease-in-out;
}

@media (max-width: 992px) {
    .about__cards-item {
        padding: 15px;
    }

    .about__cards-number {
        font-size: 76px;
    }
}