.items {
    padding: 160px 0;
}

.items__container {
    overflow: hidden;
}

.items__title {
    text-align: right;
    margin: 0;
    padding-right: 80px;
    font-weight: 300;
    font-size: 88px;
    line-height: 100%;
    letter-spacing: 0.17em;
    color: #333;
}

.cards {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    padding-bottom: 5px;
}

.card {
    position: relative;
    max-width: 760px;
    display: flex;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25); 
}

.card__image {
    max-width: 380px;
    object-fit: cover;
}

.card__desc {
    max-width: 380px;
    padding: 40px;
}

.card__title {
    margin: 0;
    margin-bottom: 130px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
}

.card__text {
    width: 300px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
}
