.header-afisha {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-grey);
    background-color: var(--color-white);
}

.nav-overlay {
    position: fixed;
    background-color: var(--background-color-blue);
    z-index: 5;
    top: -125%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-active {
    top: 0;
    transition-delay: 0s;
}

.nav-overlay__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-overlay__item {
    font-weight: 300;
    font-size: 88px;
    line-height: 100%;
    letter-spacing: 0.17em;
    color: var(--color-dark-font);
}

.nav-overlay__buttons {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-overlay__btn {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
}

@media (max-width: 576px) {
    .nav-overlay__item {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .nav-overlay__item {
        font-size: 50px;
    }
}
