.participant {
    padding-top: 80px;
    padding-bottom: 249px;
    background-image: url('/images/participant-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.participant__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 42px;
    line-height: 150%;
    color: var(--color-dark-font);
}

.participant__desc {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
}

.form {
    display: flex;
    justify-content: center;
}

.form__left {
    width: 386px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 53px 43px;
    background-color: transparent;
    background-image: url('/images/ticket-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease-in-out;
}

.form__input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #D0D5DD;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-white);
    transition: border-color 0.3s ease-in-out;
}

.form__input::placeholder {
    color: #D0D5DD;
    transition: color 0.3s ease-in-out;
}

.form__input:focus::placeholder{
    color: var(--color-white);
}

.form__input:hover {
    border-color: var(--color-white);
}

.form__input:hover::placeholder{
    color: var(--color-white);
}

.form__input:active {
    border-color: var(--color-white);
}

.form__input:active::placeholder{
    color: var(--color-white);
}

.form__btn {
    width: 209px;
    padding: 100px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
    background-size: 100% 100%;
    background-image: url('/images/btn-background.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-5px);
    background-color: transparent;
}

.form__btn:focus {
    outline: none;
}

.form__btn:hover {
    transform: translate(20px, 20px) rotate(3deg);
}

.active-btn {
    transform: translate(-20px, 20px) rotate(-3deg);;
}

@media (max-width: 1200px) {
    .participant {
        background-image: url('/images/participant-background-1194.jpg');
    }
}

@media (max-width: 992px) {
    .participant {
        background-image: url('/images/participant-background-992.jpg');
    }
}

@media (max-width: 768px) {
    .participant__title {
        font-size: 28px;
    }

    .form__left {
        width: auto;
    }

    .form__input {
        min-width: 245px;
        font-size: 14px;
    }

    .form__btn {
        width: auto;
        font-size: 17px;
        padding: 100px 25px;
    }
}

@media (max-width: 576px) {
    .participant {
        background-image: url('/images/participant-background-992.jpg');
    }
    
    .form__left {
        padding: 53px 15px;
    }

    .form__btn {
        padding: 100px 15px;
    }
}

@media (max-width: 480px) {
    .participant {
        padding: 60px 0;
        background-image: url('/images/participant-background-mobile.jpg');
    }

    .form {
        flex-direction: column;
    }

    .form__left {
        background-image: none;
        background: var(--gradient-color-blue);
        padding: 50px 15px;
    }

    .form__btn {
        background-image: none;
        background-color: var(--color-white);
        padding: 15px;
        transform: translateX(0);
    }

    .participant__desc {
        font-size: 14px;
    }
}