.participant {
    padding-top: 80px;
    padding-bottom: 249px;
    background-image: url('images/participant-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.participant__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 42px;
    line-height: 150%;
    color: #333;
}

.participant__desc {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
}

.form {
    display: flex;
    justify-content: center;
}

.form__left {
    width: 386px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 53px 43px;
    background-color: transparent;
    background-image: url('images/ticket-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease-in-out;
}

.form__input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #fff;
}

.form__input::placeholder {
    color: #fff;
}

.form__btn {
    width: 209px;
    padding: 100px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
    background-size: 100% 100%;
    background-image: url('images/btn-background.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-5px);
    background-color: transparent;
}

.form__btn:hover {
    transform: translate(20px, 20px) rotate(3deg);
}

.active {
    transform: translate(-20px, 20px) rotate(-3deg);;
}