.header {
    padding: 10px 0px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headers__buttons {
    display: flex;
}

@media (max-width: 480px) {
    .header {
        display: none;
    }
}

@media (max-width: 992px) {
    .headers__buttons {
        display: none;
    }
}