.footer {
    padding: 10px 0;
}

.footer__container {
    display: flex;
    align-items: center;
}

.social {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.social__link {
    display: block;
    width: 33px;
    height: 33px;
}

.social__link:focus {
    outline-offset: 2px;
    outline: 1px solid var(--color-active);
}

.social__link:hover {
    outline: none;
}

.vk-icon rect {
    transition: fill 0.3s ease-in-out;
}

.whats-up {
    transition: fill 0.3s ease-in-out;
}

.social__link:hover .vk-icon rect {
    fill: var(--color-active);
}

.social__link:active .vk-icon rect {
    fill: var(--color-active);
}

.social__link:hover .whats-up {
    fill: var(--color-active);
}

.social__link:active .whats-up {
    fill: var(--color-active);
}

.footer__question {
    min-width: 120px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
    margin-right: 80px;
}

.footer__buttons {
    display: flex;
    align-items: center;
    gap: 60px;
}

@media (max-width: 992px) {
    .footer__container {
        gap: 20px;
    }

    .social {
        gap: 20px;
    }

    .footer__buttons {
        gap: 30px
    }
}
