.footer {
    border-top: 1px solid var(--color-grey);
}

.footer__container-top {
    display: flex;
    align-items: center;
}

.footer__top {
    padding: 10px 0;
    background-color: var(--color-white);
}

.social {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.social__link {
    display: block;
    width: 33px;
    height: 33px;
}

.social__link:focus {
    outline-offset: 2px;
    outline: 1px solid var(--color-active);
}

.social__link:hover {
    outline: none;
}

.vk-icon rect {
    transition: fill 0.3s ease-in-out;
}

.whats-up {
    transition: fill 0.3s ease-in-out;
}

.social__link:hover .vk-icon rect {
    fill: var(--color-active);
}

.social__link:active .vk-icon rect {
    fill: var(--color-active);
}

.social__link:hover .whats-up {
    fill: var(--color-active);
}

.social__link:active .whats-up {
    fill: var(--color-active);
}

.footer__question {
    min-width: 131px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
    margin-right: 80px;
}

.footer__buttons {
    display: flex;
    align-items: center;
    gap: 60px;
}

.footer__bottom {
    padding: 10px 0;
    background-color: var(--color-dark-font);
}

.footer__container-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

.footer__policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-white);
}

.footer__mobile {
    display: none;
    margin-bottom: 60px;
}

.mobile__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-dark-font);
}

.mobile__link {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: var(--color-dark-font);
}

@media (max-width: 992px) {
    .footer__top {
        gap: 20px;
    }

    .social {
        gap: 20px;
    }

    .footer__buttons {
        gap: 30px
    }
}

@media (max-width: 768px) {
    .footer__question {
        display: none;
    }

    .footer__container-bottom {
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .footer__buttons {
        gap: 20px
    }

    .footer__container-bottom {
        gap: 2px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 20px;
        background-color: var(--background-color-blue);
    }

    .footer__top {
        display: none;
    }
    
    .footer__mobile {
        display: block;
    }

    .footer__policy {
        text-align: center;
        letter-spacing: normal;
    }

    .footer__copyright {
        text-align: center;
        letter-spacing: normal;
    }
}
