.programme {
    padding-top: 80px;
    background-color: var(--background-color-blue);
    padding-bottom: 80px;
}

.programme__content {
    margin-bottom: 80px;
}

.programme__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 150%;
    color: #333;
}

.timeline__line {
    border-radius: 8px;
    height: 15px;
    background: var(--gradient-color-blue);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.timeline-active {
    animation-duration: 5s;
    animation-name: timelineGrow;
}

@keyframes timelineGrow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.timeline__vertical-line {
  position: absolute;
  display: none;
  border-radius: 8px;
  width: 15px;
  height: 100%;
  left: 40%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 0%, rgba(75, 88, 161, 0.9) 50%);
  transition: transform 0.3s ease-in-out;
}

.timeline-vertical-active {
  animation-duration: 5s;
  animation-name: timelineGrowVertical;
}

@keyframes timelineGrowVertical {
  0% {
      height: 0%;
  }

  100% {
      height: 100%;
  }
}

.timeline__time {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
}

.timeline__desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
}

.timeline__keypoints {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.timeline__keypoint {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1.4s ease-in-out;
}

.keypoint-active:nth-child(1) {
    opacity: 1;
}

.keypoint-active:nth-child(2) {
    transition-delay: 0.4s;
    opacity: 1;
}

.keypoint-active:nth-child(3) {
    transition-delay: 0.8s;
    opacity: 1;
}

.keypoint-active:nth-child(4) {
    transition-delay: 1.2s;
    opacity: 1;
}

.keypoint-active:nth-child(5) {
    transition-delay: 1.6s;
    opacity: 1;
}

/* speakers */

.speakers__cards {
    --cards-count: 3;
    --gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
  }
  
  .speakers__card {
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
  }
  
  .active-card:nth-child(1) {
    opacity: 1;
  }
  
  .active-card:nth-child(3) {
    transition-delay: 0.4s;
    opacity: 1;
  }
  
  .active-card:nth-child(2) {
    transition-delay: 0.8s;
    opacity: 1;
  }
  
  .speakers__content {
    padding: 30px 30px 40px 30px;
  }
  
  .speakers__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 150%;
    color: #333;
  }
  
  .speakers__name {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
  }
  
  .speakers__desc {
    width: 270px;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #333;
  }
  
  
  @media (max-width: 1200px) {
    .speakers__cards {
      --gap: 22px;
    }
  }
  
  @media (max-width: 992px) {
    .speakers__cards {
      --gap: 24px;
    }
  
    .speakers__card {
      width: calc((100% - var(--gap) * (var(--cards-count) - 1)) / var(--cards-count));
    }
  
    .speakers__name {
      font-size: 20px;
    }
  
    .speakers__desc {
      width: auto;
    }
  }

  @media (max-width: 768px) {
    .programme__title {
      font-size: 28px;
    }

    .programme__content {
      position: relative;
    }

    .timeline__keypoints {
      flex-direction: column;
    }

    .timeline__keypoint {
      flex-direction: row;
      justify-content: space-between;
    }

    .timeline__desc {
      text-align: right;
    }

    .timeline__line {
      display: none;
    }

    .timeline__vertical-line {
      display: block;
    }

    .speakers__title {
      font-size: 28px;
    }
  }
  