:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-blue: #E3F1F6;
  --color-active: #F46244;
  --gradient-color-blue: linear-gradient(90deg, rgba(51, 51, 51, 0.9) 0%, rgba(75, 88, 161, 0.9) 50%);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
  url(/fonts/OpenSans-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
  url(/fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
  url(/fonts/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IgraSans";
  src: local("IgraSans-Regular"),
  url(/fonts/igrasans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "IgraSans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1064px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
