.nav {
    align-content: flex-start;
    padding-right: 53px;
}

.nav__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.dropdown {
    position: relative;
}

.dropdown__content {
    display: none;
    position: absolute;
    left: -5px;
    background-color: var(--color-white);
    min-width: 78px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown__content {
    display: flex;
    flex-direction: column;
}

.dropdown__item {
    border-top: 1px solid var(--background-color-blue);
    padding: 10px 7px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdown__item:hover {
    background-color: var(--color-active);
    color: var(--color-white);
} 

.footer__nav {
    gap: 10px;
}

.nav__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.nav__link:focus {
    outline-offset: 2px;
    outline: 1px solid var(--color-active);
}

.nav__link:hover {
    outline: none;
    color: var(--color-active);
}

.nav__link:active {
    color: var(--color-active);
}

@media (max-width: 992px) {
    .nav {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav {
        display: block;
        margin-bottom: 30px;
    }
}