.nav {
    margin-right: 180px;
}

@media (max-width: 1200px) {
    .nav {
        order: 1;
    }
}

@media (max-width: 992px) {
    .nav {
        display: none;
    }
}

.nav__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.nav__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.nav__link:focus {
    outline-offset: 2px;
    outline: 1px solid var(--color-active);
}

.nav__link:hover {
    outline: none;
    color: var(--color-active);
}

.nav__link:active {
    color: var(--color-active);
}