.swiper-slide {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  position: relative;
  padding-bottom: 4px;
}
  
.slider-controler {
  padding-top: 20px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
  
.slider-arrow {
  position: relative;
  width: 60px;
  height: 60px;
  padding-bottom: 1px;
  border-radius: 50px;
  background-color: var(--background-color-blue);
  cursor: pointer;
}
  
.swiper-button-next::after {
  position: absolute;
  content: '';
  left: 17px;
  top: 21px;
  width: 25px;
  height: 16px;
  background-image: url('images/arrow-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
  outline: 1px solid var(--color-active);
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  outline: none;
}

.swiper-button-next:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='16' viewBox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.7071 8.70711C26.0976 8.31658 26.0976 7.68342 25.7071 7.29289L19.3431 0.928932C18.9526 0.538408 18.3195 0.538408 17.9289 0.928932C17.5384 1.31946 17.5384 1.95262 17.9289 2.34315L23.5858 8L17.9289 13.6569C17.5384 14.0474 17.5384 14.6805 17.9289 15.0711C18.3195 15.4616 18.9526 15.4616 19.3431 15.0711L25.7071 8.70711ZM0 9H25V7H0V9Z' fill='%23F46244'/%3E%3C/svg%3E%0A");
}
  
.swiper-button-prev::after {
  position: absolute;
  content: '';
  left: 17px;
  top: 21px;
  width: 25px;
  height: 16px;
  background-image: url('images/arrow-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: background-image 0.3s ease-in-out;
}

.swiper-button-prev:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='16' viewBox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.7071 8.70711C26.0976 8.31658 26.0976 7.68342 25.7071 7.29289L19.3431 0.928932C18.9526 0.538408 18.3195 0.538408 17.9289 0.928932C17.5384 1.31946 17.5384 1.95262 17.9289 2.34315L23.5858 8L17.9289 13.6569C17.5384 14.0474 17.5384 14.6805 17.9289 15.0711C18.3195 15.4616 18.9526 15.4616 19.3431 15.0711L25.7071 8.70711ZM0 9H25V7H0V9Z' fill='%23F46244'/%3E%3C/svg%3E%0A");
}

/* cards */

.cards {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
  padding-bottom: 5px;
}

.card {
  position: relative;
  max-width: 760px;
  display: flex;
  background-color: #fff;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25); 
}

.card__image {
  max-width: 380px;
  object-fit: cover;
}

.card__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  padding: 40px;
}

.card__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #333;
}

.card__text {
  width: 300px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #333;
}

@media (max-width: 768px) {
  .swiper-slide {
    height: auto;
  }

  .card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .card__image {
    width: 65%;
    margin-bottom: 10px;
  }

  .card__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
  }

  .card__text {
    text-align: center;
  }

  .slider-controler {
    position: relative;
    z-index: 1;
  }

  .card__text--bg {
    display: none;
  }
}
